<?xml version="1.0" encoding="UTF-8" ?>
<widget id="tw.edu.nfu.eZTravel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <name>VILLA LIFE</name>
  <description>
      An example for phonegap build APP from yflan@nfu.edu.tw.
  </description>
  <author  email="40741453@nfu.edu.tw">
      Yu-Feng Lan
  </author>
  <content src="index.html" />
  <platform name="android">
    <icon src="images/life.jpg />
  </platform>
</widget>